:root {
  --color1: rgb(219, 144, 0.5);
  --color2: rgba(23, 180, 83, 0.877);
  --color3: rgba(11, 194, 211, 0.623);
  --color4: rgb(218, 160, 53);
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
}

/* eso se usa para resetear el margen, relleno etc de nuestra pagina y poder modificarlo a gusto*/

* {
  margin: 0; /*reseteamos margen a 0*/
  padding: 0; /*reseteamos relleno a 0*/
  box-sizing: border-box; /*define como la anchura y altura de un elemento son calculados y si incluyen relleno, bordes etc*/
  /*border-box la anchura y altura incluyen contenido, relleno y bordes*/
}

/*aqui ponemos propiedades de las imagenes*/
img {
  vertical-align: top; /*alineacion vertical de la imagen en este caso usamos top el cual lo alinea con el elemnto mas alto en la linea*/
}

/* Header */
#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  float: right;
  padding: 20px 20px;
}

header {
  width: 100%;
  height: 600px;
  background: linear-gradient(
      to bottom,
      /*se establece una linea gradiente como fondo del encabezado y con el botoom se establece que va de arriba hacia abajo*/
        rgba(10, 10, 10, 0.6),
      /*rgba especifica los colores del rgb, pero ademas da una opacidad en su ultimo valor entre 0.0 y 1.0*/
        rgba(10, 10, 10, 0.6),
      rgba(10, 10, 10, 0.45)
    ),
    url(../images/fondo.jpg); /*imagen de fondo*/
  background-attachment: fixed; /*establece si la imagen de fondo se desplaza con el resto de la pagina o si se queda fija(fixed) en este caso se  ve el efecto de que la imagen se queda debido a que esta fija*/
  background-position: center; /*establece la posicion de partida de la imagen de fondo*/
  background-size: cover; /*especifica el tamaño de la imagen de fondo es este caso cover hace que la imagen cubra todo el fonfo asi esta sea mas pequeña*/
}

/*caracteristicas del conjunto de links*/
nav {
  width: 100%; /*establecemos el ancho del contenido de nav en este caso con porcentaje del 100% para que se anche en toda la pantalla*/
  position: fixed; /*establecemos el metodo de posicion del nav en este caso fixed para que se mueva con la pagina*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /*adjunta una o mas sombras a un elemento */
}

.nav1 {
  background: transparent; /*se establece el color de fondo a traves de la variable --fondo*/
  height: 100px;
  color: #fff;
}

.contenedor-nav {
  /*aqui se va a modificar los elementos dentro de la clase contenedor-nav osea el conjunto de links*/
  display: flex; /*especifica el comportamiento de de visualizacion de un elemento en este caso flex significa que es flexible a nivel de bloque*/
  margin: auto; /*centra los elementos de la caja gracias a auto,pero tambien se puden poner valores en pixeles para ubicarlos en un punto deseado*/
  width: 100%; /*establece el ancho de la caja puede ser en %, px, auto etc. en este caso sera el nivel de separacion de los elementos dentro de la caja osea un 90% para que no queden pegadas de los bordes*/
  justify-content: space-between; /*alinea los elementos de la caja cuando los elementos no usan todo el espacio disponible en el eje pricipal*/
  max-width: 1000px; /*define el ancho maximo del elemento (If the content is larger than the maximum width, it will automatically change the height of the element.) en este caso le ponemos mil para que no ocupe toda la pantalla*/
  height: inherit; /*hereda la altura de su elemento padre*/
  align-items: center; /*establece el alineado por default a un conjunto de items dentro de un contenedor y le ponemos center para que se ubique en todo el centro del recuadro osea se alineen verticalmente*/
  overflow: hidden; /*especifica que debe pasar si el contenido desborda el contenedor o su caja*/
}

.logo {
  width: 30%;
  text-align: center;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

nav .enlaces a {
  /*se usa para editar los elementos de tipo 'a' osea los links del encabezado*/
  display: inline-block; /*inline-block muestra un elemento como un contenedor de bloque a nivel de linea lo cual permite usar padding*/
  padding: 5px 0; /*(relleno) se usa para generar espacio alrededor del contenido de un elemento dentro de unos bordes definidos, 5px es la altura y 0 el ancho */
  margin-right: 17px; /*se establece la margen derecha a 17 px osea el espacio entre elementos*/
  font-size: 20px; /*se establece el tamaño de la fuente(px,large,%) en este caso son 17 pixeles para que coincida con la margen*/
  font-weight: 300; /*establece como de grueso o delgado son los caracteres en el texto que va a ser desplegado en este caso los valores van desde 100 hasta 700 dnde 400 es normal y 700 es negrilla, pero tambien se puede usar(normal,bold.bolder etc)*/
  text-decoration: none; /*establece la decoracion para el texto, la cual puede ser subryayado, color, estilo etc.*/
  border-bottom: 3px solid transparent; /*borde inferior se establece su tamaño, que sea solido para que se vea linea recta y transparente(para que no se muestre hasta que pase el clic) */
  color: inherit; /*el color de los enlaces los va a heredar de su padre ya sea nav2 o nav1*/
}

nav .enlaces a:hover {
  /*el hover nos permite darle caracteristicas en estos casos a los a(hipervinculos) cuando pasamos el mouse sobre ellos*/
  border-bottom: 3px solid #1498a4; /*le ponemos el color que se debe poner cuando pasemos el mouse sobre ellos y las mismas caracteristicas de arriba*/
  transition: 0.6s; /*le damos el tiempo de transicion osea para que aparezca, tambien se puede especificar que se anche o asi pero no lo ponemos*/
}

.textos {
  /*modificamos los textos principales del del encabezado*/
  color: #fff;
  width: 100%; /*ancho del 100% para que se centre y no hallan saltos de linea*/
  height: 100%; /*alto del 100% para que quede centrado junto con align items*/
  display: flex; /*flexible*/
  align-items: center;
  justify-content: center;
  flex-direction: column; /*especifica la direccion de los elementos flexibles en este caso como columnas osea uno debajo del otro o puede ser como filas(row)*/
  overflow: hidden;
  text-align: center; /*se especifica el alineamiento horizontal del texto*/
  font-size: 50px;
}

.textos p {
  text-align: center;
  font-size: 30px;
  width: 70%;
}

.contenedor {
  /*todas las clases de html que tienen contenedor en su nombre le aplicamos lo siguiente*/
  margin: auto; /*margin se usa para crear espacio alrededor de elementos y/o fuera de margenes en este caso auto centra horizontalmente los elementos dentro de su contenedor*/
  padding: var(--margenes) 0; /*espacio alrededor de los elementos con margenes arriba y abajo y cero hacia los lados*/
  width: 90%; /*del 90% para que no quede tan centrado hacia los lados*/
  max-width: 1000px; /*establecemos el ancho maximo de los elementos en este caso 1000px para que no queden tan grandes*/
  text-align: center; /*centramos todo*/
  overflow: hidden;
}

.contenedor h3 {
  /*todos los h3 en clase contenedor*/
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(
    --espacios
  ); /*se establece el margen inferior osea el tamaño en este caso 10px */
}

.contenedor p {
  /*todos los parrafos*/
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

.history p {
  color: black;
  font-size: 25px;
  text-align: justify;
}

.after {
  text-align: center;
  color: var(--color1);
}

.after::after {
  /*en la clase after los dos puntos nos sirven si queremos insertar algo antes o despues de esta clase en este caso (after) osea despues */
  content: ""; /*se usa desppues de ::after y ::before para insertar contenido generado en este caso al poner '' es para hacer el margen debajo del texto*/
  display: block; /*ponemos una caja despues de la clase after con block que comienza en una nueva linea y toma todo el ancho lo que dara la forma del margen*/
  margin: auto; /*se centra la margen*/
  margin-top: var(
    --espacios
  ); /*establecemos el margen superior de lo que esta despues de after osea 15px hacia arriba va a estar after*/
  width: 50px; /*ancho del margen*/
  height: 2px; /*alto del margen o caja*/
  background: var(--color1); /*color del margen o caja*/
  margin-bottom: var(--espacios-contenido); /*tamaño de margen inferior en px*/
}

.card {
  /*modificamos la caja que contiene todas las cartas*/
  display: flex;
  justify-content: space-around; /*alinea el contenido flexible con los items que no usan todo el espacio disponible en la horizontal en este caso el around le da espacio al elemento en todo su alrededor*/
  flex-wrap: wrap; /*establece si los elementos flexibles deben ajustarse o no al agrandar el tamaño o algo similar en este caso con wrap(ajustar) si lo hacen*/
}

.content-card {
  /*contenido de las cartas*/
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); /*agrega una o mas sombras a un elemento*/
  overflow: hidden;
  height: 400px; /*alto del contenido de la carta*/
}

.people {
  height: 80%; /*toma el 80% del tamaño con respecto a su padre osea content-card empezando desde arriba o desde donde empieza su padre*/
}

.content-card img {
  width: 100%; /*100% para que tome toda la imagen*/
  height: 100%;
  object-fit: cover; /*se especifica como la imagen debe modificar su tamaño para llenar su contenedor en este caso cover rehace su tamaño y mantiene su aspecto*/
}

.texto-team {
  /*textos de las cartas*/
  height: 20%; /*el alto es el 20% con respecto a su padre osea conten-card 400px */
  width: 100%;
  padding: var(--espacios) 0; /*puede tener 4 valores los cuales son, alto,derecho,fondo y izquierdo*/
}

.lateral-nav {
  font-family: "Ubuntu";
  font-size: 20px;
  margin-left: 1.5em;
  width: 90%;
}

.lateral-nav > h3 {
  text-align: left;
}

.list-lateral-item {
  margin-left: 2rem;
}

.list-lateral-item a {
  color: black;
  display: block;
  padding-top: 1em;
  text-align: left;
  list-style-type: decimal;
}

/* Formato general de imagenes a la izquierda */
.left-image {
  margin-left: 1em;
  margin-right: 2em;
  float: left;
}

/* Formato general de imagenes a la derecha */
.right-image {
  margin-left: 2em;
  margin-right: 1em;
  float: right;
}

.war {
  scroll-behavior: smooth;
}

.war h2 {
  text-align: left;
}

.container-ubicacion,
.container-poblacion {
  font-size: 20px;
}

.container-ubicacion p {
  color: black;
  text-align: justify;
}

.container-poblacion p {
  color: black;
  text-align: justify;
}

.images-ubicacion {
  display: flex;
  justify-content: space-around; /* Espaciado equitativo entre cajas */
}

.images-ubicacion h3 {
  text-align: center; /* Texto alineado en la mitad*/
}

.galeria-work {
  /*modificamos la parte de las imagenes */
  display: flex; /*para que me ponga en filas lo que se pueda de la mejor manera*/
  flex-wrap: wrap; /*se ajustan las imagenes para que queden de la mejor manera*/
  justify-content: space-around;
}

.cont-work {
  /*los elementos con la clase cont-work osea cada imagen*/
  width: 31%; /*el ancho perfecto para que me quepan de a 3 cont-work*/
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); /*se pone una sombra alrededor para dar la sensacion de estar metido en una caja*/
  overflow: hidden;
  height: 300px; /*alto de la caja*/
  overflow: hidden;
  margin-bottom: var(
    --espacios-contenido
  ); /*espacio entre este elemento y el de debajo*/
}

.img-work {
  /*modificamos la clase/caja que contiene a las imagenes*/
  height: 90%;
  width: 100%;
}

.img-work img {
  /*modificamos especificamente la imagen*/
  height: 100%; /*100% ambas para que salga toda la imagen*/
  width: 100%;
  object-fit: cover; /*ajusta la imagen a la caja para que no se vea tan apretada*/
}

.textos-work {
  height: 10%;
}

.textos-work h4 {
  /*modificamos especificamente los h4 de textos-work*/
  line-height: 30px; /*especificamos la altura de una linea de texto*/
  font-weight: 300; /*grueso*/
}

.container-referencias {
  font-family: "Ubuntu";
  font-size: 20px;
  margin-top: 2em;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 1em;
  text-align: start;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #fff;
  background-color: #2f2f2f;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.footer__nav > * {
  flex: 1;
}

.nav__item--extra {
  flex-grow: 2;
}

.footer__addr {
  flex: 1 0px;
}

.footer__nav {
  flex: 2 0px;
}

/*Estilos para cuando la pantalla tiene un ancho como un celular*/
@media screen and (max-width: 700px) {
  .enlaces {
    position: fixed; /*ya no se alinea con el flex en este caso flixed lo que hace esque el elemento se posicione relativo al punto de vista de la pagina y hace que siempre este en el mismo sitio sin importar que se haga scroll */
    top: 100px; /*distancia hacia abajo desde donde empieza en este caso nav 1 tiene una altura de 80px por eso lo ponemos que empiece desde ahi porque ahi acaba nav1*/
    background: var(--color1); /*le pone color al fondo de los textos*/
    left: 0; /*lo ponemos todo a la izquierda*/
    height: 100%; /*hacemos que ocupe toda la pantalla*/
    transition: 1s;
    width: 0; /*le ponemos de ancho 0 para que no se vea en principio*/
    overflow: hidden; /*para que cuando sobrepase sus limites no se vea debido a lo de arriba*/
  }

  .enlaces a {
    /*los links de tipo los organizamos uno debajo del otro en el responsive*/
    display: block; /*con estos dos ponemos uno debajo del otro*/
    width: 100%; /*con estos dos ponemos uno debajo del otro ya que con este hacemos que ocupe todo el ancho de su padre*/
    height: 50px;
    padding: 20px;
    text-align: center;
    background: var(--color4); /*fondo de la parte de los elementos de tipo a*/
    color: #fff;
  }

  /*reducimos el tamaño de los textos para cuando la pantalla sea menor a 700px*/
  .textos > h1 {
    font-size: 50px;
  }

  .textos > h2 {
    font-size: 35px;
  }

  .content-card {
    /*reducimos las tarjetas y quedan de a 2 en la horizontal*/
    width: 48%;
    margin-bottom: var(--margenes); /*para que no queden muy pegadas*/
  }

  :root {
    --margenes: 30px;
  }

  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
  }

  #menuToggle:checked ~ div {
    width: 70vw;
  }

  .menu-icon i {
    font-size: 1.7em;
    font-style: normal;
  }

  .contenedor-nav {
    margin-left: 10vw;
  }

  .galeria-work {
    display: block;
  }

  .cont-work {
    width: 100%;
  }

  .container-referencias {
    margin-left: 1em;
    width: 90%;
  }

  .container-referencias ul {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --espacios-contenido: 25px;
  }
  .content-card {
    width: 90%;
  }
}
